
@{
    ViewBag.Title = "إصدار الشيكات لمأموري الصرف";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
}

<script src="~/Scripts/PayRollStudents/PayrollApprovalWithMoneyForIssuingChecksService.js"></script>
<script src="~/Scripts/PayRollStudents/PayrollApprovalWithMoneyForIssuingChecksController.js"></script>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

<style>

    .tb-title {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 1;
        font-size: 16px;
        color: #0e70a0 !important;
    }
    .back-color {
        color: #000;
        font-weight: bold;
    }
    .dx-button-success {
        background-color: #5cb85c;
        border-color: white;
        color: #fff;
    }

    .dx-button-danger {
        background-color: #d9534f;
        border-color: white;
        color: #fff;
    }

    .dx-tree-st td .dx-button-has-icon .dx-button-content {
        padding: 3px !important;
    }

    .master-detail-caption-st {
        padding-top: 0px;
        padding-bottom: 12px;
        text-align: center;
        font-size: medium;
        font-weight: 900;
    }
   
    .swal-text {
        text-align: center;
    }

    .dx-popup-title {
        border-bottom: 1px solid #0e70a052 !important;
        background: #ffffff !important;
        color: #0e70a0 !important;
    }

        .dx-popup-title.dx-toolbar .dx-toolbar-label {
            font-size: 22px !important;
        }

        .dx-popup-title.dx-toolbar {
            padding: 12px 20px !important;
        }

        .dx-popup-title .dx-closebutton .dx-icon {
            color: #0e70a0 !important;
        }

    td.dx-command-edit {
        text-align: center !important
    }
</style>

<div class="container-fluid container-fullw" ng-controller="PayrollApprovalWithMoneyForIssuingChecksController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel bg-white">
                <div class="breadcrumb-wrapper text-right">
                    <h2>إصدار الشيكات لمأموري الصرف</h2>
                </div>
                <div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div dx-data-grid="PayrollsGrid" class="dx-tree-st dx-tree-st22" dx-item-alias="PayrollItem">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="popup popup-test" dx-popup="PayRollsMoneyDetailsPopup">
                                    <div dx-scroll-view="{
                                                 height: 800,
                                                 direction: 'both'
                                             }">
                                        <div class="row" style="padding-top:15px;padding-bottom:0px">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div ng-if="isFacultyMsgShow" class="alert alert-danger col-md-12 col-sm-12 col-xs-12">
                                                        {{faculty}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dx-tree-st dx-tree-st-green form-group" style="padding-bottom:15px">

                                                <div class="tb-title">التفاصيل المسير النقدي مع مناديب الصرف</div>
                                                <div dx-data-grid="PayRollsMoneyDataGrid()"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div dx-button="acceptButton"></div>
                                                <div dx-button="btnUploadOptions"></div>
                                                <div dx-button="btnShowFiles"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </div>


    <div class="popup" dx-popup="PayRollsMoneyUserDetailsPopup">
        <div dx-scroll-view="{
                                                height: 600,
                                                direction: 'both'
                                            }">
            <div class="row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="dx-tree-st dx-tree-st22" dx-data-grid="PayRollsMoneyUserDetailsGrid()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="PrintCheckPopup" dx-popup="PrintCheckPopup">
        <div dx-scroll-view="{
                                                 height: 200,
                                                 direction: 'both'
                                             }">
            <div class="row" style="padding-top:15px;padding-bottom:0px">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dx-tree-st dx-tree-st-green form-group" style="padding-bottom:15px">

                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                    <div dx-button="printButton"></div>
                    <div dx-button="printSandButton"></div>
                    <div dx-button="printLetterButton"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" id="ConfirmCancelCheckPopup" dx-popup="ConfirmCancelCheckPopup">
        <div dx-scroll-view="{
                                                 height: 200,
                                                 direction: 'both'
                                             }">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dx-tree-st dx-tree-st-green form-group" style="padding-bottom:15px">
                    <div class="tb-title">هل أنت متأكد من الإلغاء</div>
                </div>
            </div>
            <div class="row" style="padding-top:15px;padding-bottom:0px">
                <div class="clearfix"></div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                    <div dx-button="saveBtn"></div>
                    <div dx-button="cancelBtn"></div>
                </div>
            </div>


        </div>
    </div>



    <div class="popup" dx-popup="PayRollChecksPopup">
        <div data-options="dxTemplate: { name:'PayRollsCheckContent' }">
            <div dx-scroll-view="{
                                                height: 800,
                                                direction: 'both'
                                            }">

                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="control-label">

                                اسم مندوب الصرف
                            </label>
                            <div dx-text-box="txtBenfName" style="width:100%"></div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="control-label">

                                مبالغ بدون شيكات
                            </label>
                            <div dx-text-box="txtTotalValueWithoutChecksName" style="width:100%"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="control-label">
                                رقم الشيك
                            </label>
                            <div dx-text-box="txtCheckNumberName" style="width:100%" dx-validator="CheckNumberValidationRules"></div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="control-label">
                                مبلغ الشيك
                            </label>
                            <div style="width:100%" dx-number-box="txtCheckValueName" dx-validator="CheckValueValidationRules"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <label class="control-label">
                                الكليات
                            </label>
                            <div id="FacultionSelectBox" dx-tag-box="FacultionSelectBox" style="width:100%;height: 34px;"
                                 dx-validator="validationRequired"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div dx-text-area="byanTextArea"
                                 dx-validator="validationRequired"></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div dx-button="btnSave"></div>
                        </div>
                    </div>


                </div>

                <div class="clearfix"></div>
                <div class="row">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="dx-tree-st dx-tree-st22" dx-data-grid="PayRollsChecksGrid()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="files" class="popup" dx-popup="PayRollsMoneyDetailsPopup.filesPopup">
        <div dx-scroll-view="{
                                                height: 900,
                                                direction: 'both'
                                            }">
            <div class="row">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="dx-tree-st dx-tree-st22" dx-data-grid="PayrollsFilesGrid()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" dx-popup="PayRollsMoneyDetailsPopup.textAreaPopup">

        <div class="form-group col-lg-12 col-sm-12 col-xs-12">
            <div dx-text-area="recommendationsTextArea" dx-validator="validationRequired"></div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
            <div dx-button="saveButton"></div>
        </div>
    </div>

    <div dx-popup="PayRollsMoneyDetailsPopup.UploadFilePopupOptions">
        <div data-options="dxTemplate: { name : 'UploadFileContent' }">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div dx-file-uploader="FileUploadingOptions">
                        <span class="note">Allowed file extensions: <span>.Pdf</span>.</span>
                    </div>
                    <div>
                        <div class="text-right" ng-if="MDL_UploadingFilesvalue.length > 0">
                            <h4>الملفات المختارة</h4>
                        </div>
                        <div ng-repeat="val in MDL_UploadingFilesvalue">
                            <div class="selected-item selected-item-ds text-right">
                                <ul class="list-unstyled" dir="rtl">
                                    <li><span class="pull-right"> اسم الملف:</span> <span>{{val.name}}</span></li>
                                                        <li><span class="pull-right">حجم الملف:</span> <span>{{val.size}}</span> bytes</li>
                                                        <li><span class="pull-right">نوع الملف:</span>  <span>{{val.type}}</span></li>
                                                        </ul>
                                                        <a class="btn btn-danger" href="" ng-click="RemoveUploadingFile(val.$$hashKey)">
                                                            حذف الملف <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="UploadPopUpShow1" dx-popup="PayRollChecksPopup.UploadFilePopupOptions1">
        <div data-options="dxTemplate: { name : 'UploadFileContent1' }">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div dx-file-uploader="FileUploadingOptions1">
                        @*<span class="note">Allowed file extensions: <span>.Pdf</span>.</span>*@
                    </div>
                    <div>
                        <div class="text-right" ng-if="MDL_UploadingFilesvalue1.length > 0">
                            <h4>الملفات المختارة</h4>
                        </div>
                        <div ng-repeat="val in MDL_UploadingFilesvalue1">
                            <div class="selected-item selected-item-ds text-right">
                                <ul class="list-unstyled" dir="rtl">
                                    <li><span class="pull-right"> اسم الملف:</span> <span>{{val.name}}</span></li>
                                    <li><span class="pull-right">حجم الملف:</span> <span>{{val.size}}</span> bytes</li>
                                    <li><span class="pull-right">نوع الملف:</span>  <span>{{val.type}}</span></li>
                                </ul>
                                <a class="btn btn-danger" href="" ng-click="RemoveUploadingFile1(val.$$hashKey)">
                                    حذف الملف <i class="fa fa-trash-o"></i>
                                </a> <a class="btn btn-primary" href="" ng-click="SaveUploadingFile1(val.$$hashKey)">
                                    حفظ الملف <i class="fa fa-save"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
<style>
    .dx-item.dx-list-item.dx-state-focused i {
        color: #fff !important;
        margin-left: 15px;
    }

    .dx-list-item .dx-list-item-content {
        padding: 15px 15px;
    }

    .list-container-new .dx-list-item {
        display: inline-block;
        width: 32.65%;
        border: 1px solid #ddd !important;
        margin-left: 1%;
        font-size: 15px;
        background: #fafcff;
    }

      .approvedItem {
            /*background: #0e70a0 !important;
            color: white !important;*/
            
        }

    .currentItem {
        background: #5cb85c !important;
        color: white !important;
    }

    .list-container-new .dx-list-item:last-child {
        margin-left: 0;
    }
</style>


