
@{
    ViewBag.Title = "تحرير قرار اللجنه الإكاديمية";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
}
<style>
    fieldset {
        border: none;
        margin: 2px 0;
        padding: 8px 0 5px 0;
        border: 1px solid #33333329;
        position: relative;
        border-radius: 5px;
        background: #e6e6e6;
    }

    .fieldset-dds {
        line-height: 20px;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #ebf1f7;
        border-color: #ddd;
    }
</style>

<script src="~/Scripts/AcademicCommittee/SeparatedStudentsService.js"></script>

<script src="~/Scripts/AcademicCommittee/AcademicCommitteeService.js"></script>
<script src="~/Scripts/AcademicCommittee/AcademicCommitteeController.js"></script>

<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel bg-white col-md-12">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class="no-margin"> تحرير قرار اللجنه الإكاديمية </h4>
                </div>
                <div id="CalculationBonusContent" ng-controller="AcademicCommitteeCtrl">
                    <div class="col-md-12">
                        <div class="panel panel-default" style="margin-top:15px;">
                            <div class="panel-heading">

                                <form id="form" class="row" ng-submit="ViewAcademicCommitteeStudents($event)">
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label text-right"> الكليات</label>
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  ">
                                            <div dx-tag-box="FacultionSelectBox" style="width:100%;height: 34px;"
                                                 dx-validator="validationRequired"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label text-right"> الدرجات العلمية</label>
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12  ">
                                            <div dx-tag-box="DegreeSelectBox" style="width:100%;height: 34px;"
                                                 dx-validator="validationRequired"></div>
                                        </div>
                                    </div>
                                    @if (ViewBag.Read != null)
                                    {
                                        if (ViewBag.Read)
                                        {
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-right">
                                                <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                                    <div id="btnView" class="btn btn-success" style="margin: 0;" dx-button="btnView"> </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </form>

                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative">
                                        <div id="List" class="col-lg-12 col-sm-12 col-xs-12">
                                            <div class="dx-viewport dx-tree-st">
                                                <div class="demo-container">
                                                    <div id="gridAcademicCommittee" dx-data-grid="gridAcademicCommittee"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--PopUpUploadDecisions-->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-right">
                                        <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label text-right"> <br /> </label>
                                        <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                            <div id="btnAcceptPopup" class="btn btn-default" dx-button="btnAcceptPopup"> </div>
                                            <div id="btnRefusePopup" class="btn btn-danger" dx-button="btnRefusePopup"> </div>
                                            <div id="btnShowPopup" class="btn btn-primary" dx-button="btnShowPopup"> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="popup" dx-popup="PopUpUploadDecisions">
                                    <div data-options="dxTemplate: { name:'info' }" dir="rtl">

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label text-right"> الطلاب</label>
                                                    <div class="col-lg-12 col-sm-12 col-xs-12  ">
                                                        <div dx-tag-box="StudentsSelectBox" style="width:100%;height: 34px;"></div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                    <label class="col-lg-12 col-sm-12 col-xs-12 control-label">رقم القرار</label>
                                                    <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                                        <div class="required-ds" id="txtDecisionNumber" dx-text-box="txtDecisionNumber"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label class="control-label">ملف القرار</label>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-xs-12">
                                                    <div class="pull-right" dx-file-uploader="fileUploadAcademicDecision"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-right">
                                            <div id="btnSaveDecisionFile" class="btn btn-success" dx-button="btnSaveDecisionFile"> </div>
                                            <label class="col-lg-3 col-md-3 col-sm-12 col-xs-12 control-label text-right"> <br /> </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="popup" id="ConfirmPopup" dx-popup="ConfirmPopup">
                                    <div dx-scroll-view="{
                                                 height: 200,
                                                 direction: 'both'
                                             }">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dx-tree-st dx-tree-st-green form-group" style="padding-bottom:15px">
                                                <div class="tb-title">{{resultErrorMessage}}</div>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top:15px;padding-bottom:0px">
                                            <div class="clearfix"></div>
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12 text-center">
                                                <div dx-button="okBtn"></div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                                @Html.Partial("_AcademicCommitteeStudentDetaliesPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .popup-ddds .dx-overlay-content.dx-popup-normal {
        height: auto !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -100%) !important;
    }


    .dx-fileuploader-input-wrapper {
        padding: 0;
        border: 0;
    }

    .dx-fileuploader-wrapper {
        padding: 0;
    }

    .dx-dropdownlist-popup-wrapper .dx-popup-content {
        height: 250px !important
    }
</style>