
@{
    ViewBag.Title = "الطلاب غير المستحقين ";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
}
<script src="~/Scripts/Rewards/PayrollRefusalSearch.js"></script>
<script src="~/Scripts/Rewards/RewardsService.js"></script>

<style>
    .control-label {
        text-align: right
    }

    fieldset {
        border: none;
        margin: 2px 0;
        padding: 8px 0 5px 0;
        border: 1px solid #33333329;
        position: relative;
        border-radius: 5px;
    }

    .fieldset-dds {
        line-height: 20px;
    }

    legend {
        font-size: 18px;
        color: inherit;
        text-align: right;
        border: none;
        background: #fff;
        position: absolute;
        top: -17px;
        width: auto;
        right: 5px;
        padding: 3px 10px;
    }

    .panel-body {
        padding: 10px 15px;
    }
</style>

<div class="container-fluid container-fullw" ng-controller="PayrollRefusalSearch">
    <div class="col-md-12">

        <div class="panel bg-white">
            <div class="breadcrumb-wrapper text-right">
                <h4 class="no-margin"> الطلاب غير المستحقين والأسباب </h4>
            </div>
            <div class="panel-body">
                <form>
                    <fieldset sstyle="background: #e8e2be;">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="border-left:1px solid #ddd">

                            <div class="panel bg-white">
                                <div class="panel-body">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-4 control-label text-right">
                                            الكلية
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-xs-8" dx-tag-box='DL_Faculties'></div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label class="col-lg-4 col-sm-3 col-xs-3 control-label text-right">
                                            فئة المكافأة
                                        </label>

                                        <div class="col-lg-8 col-sm-8 col-xs-8" dx-tag-box="DL_RewardCategories"></div>

                                    </div>



                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-4 control-label text-right">الجنسية</label>
                                        <div class="col-lg-8 col-sm-8 col-xs-8" dx-tag-box="DL_Nationalities"></div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-4 control-label text-right">
                                            الدرجة العلمية
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-xs-8" dx-tag-box='DL_StudentDegrees'></div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-4 control-label text-right">
                                            إسم البند
                                        </label>
                                        <div class='col-lg-8' dx-tag-box='DL_RewardItems'></div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-4 control-label text-right">
                                            الحالة الأكاديمية
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-xs-8" dx-tag-box='DL_StudentStatusAcademy'></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="col-lg-2 col-sm-2 col-xs-2 control-label text-right"> إسم الطالب</label>
                                        <div class="col-lg-10 col-sm-10 col-xs-10" dx-tag-box="DL_Students"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <div class="panel bg-white">
                                <div class="panel-body">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="col-lg-12 col-sm-12 col-xs-12 control-label text-right">من تاريخ</label>
                                        <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                            <div dx-date-box="Db_PayRollDateFrom" style="width:100%" dx-validator=""> </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="col-lg-12 col-sm-12 col-xs-12 control-label text-right">إلي تاريخ</label>
                                        <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                            <div dx-date-box="Db_PayRollDateTo" style="width:100%" dx-validator=""> </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left" style="padding-left: 20px;">
                                        <div dx-button="btn_PayrollRefusalForm"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <fieldset>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-body" style="padding-top:0">
                                    <div class="clearfix"></div>
                                    <div dir="rtl" style="width: 100%">
                                        <div class="demo-container">
                                            <div class="dx-tree-st" dx-data-grid="PayrollRefusalGrid" dx-item-alias="PayrollRefusalContainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>