
@{
    ViewBag.Title = "لا توجد صلاحيات";
    Layout = "~/Views/Shared/_newUsersLayout.cshtml";
}

<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-lg-12 col-xs-12 text-center">
            <div class="panel bg-white">
                <div class="panel-body alert-dds">
                    <h1><i class="fa fa-exclamation-circle"></i>@ViewBag.Message</h1>
                </div>
            </div>
        </div>
    </div>
</div>

