@{
        ViewBag.Title = "الصلاحيات السرية فى سجل السلوك الخارجى";
        Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
 
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script src="~/Scripts/Security/SecretPermissions.js"></script>
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="panel panel-default">
            <div class="breadcrumb-wrapper text-right">
                <h4 class="title no-margin">الصلاحيات السرية فى سجل السلوك الخارجى</h4>
            </div>
            <div class="panel-body">
                <div ng-controller="SecretPermissionsCtrl">
                    <form ng-submit="onFormSubmit($event)">
                        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />  
                        <div class="form-group col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 control-label">المستخدم</label>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                                <div dx-select-box="Permission.User" dx-validator="Permission.ValidationRules.User"></div>
                            </div>
                        </div>

                        <div class="form-group col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            @if ((bool?) ViewData["SecretPermisson"] == true)
                            {
                                <div dx-check-box="Permission.IsSecret"></div>
                            }
                            @if ((bool?) ViewData["TopSecretPermisson"] == true)
                            {
                                <div dx-check-box="Permission.IsTopSecret"></div>
                            }
                        </div>

                        <div class="form-group col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <button dx-button="Permission.SaveButtonOptions"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>