
@{
    ViewBag.Title = "مراجعة وثائق السفر";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
}

<script src="~/Scripts/RevisionPassport/RevisionPassportService.js"></script>
<script src="~/Scripts/RevisionPassport/RevisionPassportController.js"></script>
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel bg-white">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class="no-margin">مراجعة وثائق السفر</h4>
                </div>
                <div class="panel-body">
                    <div ng-controller="RevisionPassportCtrl">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <div class="btn btn-primary" dx-button="btnApproved"> </div>
                            <div class="btn btn-primary" dx-button="btnNotApproved"> </div>
                        </div>



                        <div id="List" class="col-lg-12 col-sm-12 col-xs-12"> 
                                <div class="dx-viewport dx-tree-st">
                                    <div class="demo-container">
                                        <div ng-if="IsApproved==true" id="gridRevisionPassport" dx-data-grid="gridRevisionPassport"></div>
                                        <div ng-if="IsApproved==false" id="gridUnderRevisionPassport" dx-data-grid="gridUnderRevisionPassport"></div>
                                    </div> 
                            </div>
                        </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group" ng-if="IsApproved == false">
                                <br />
                                @*<div class="btn btn-success" dx-button="btnApprovedAll"> </div>*@
                            </div>


                            <!-- Modal -->
                            <div class="popup" dx-popup="PopUpDocuments">
                                <div data-options="dxTemplate: { name:'info' }" dir="rtl">

                                    <div class="col-md-12 col-sm-12">

                                        <div class="w3-example">
                                            <h3> جوازات السفر </h3>
                                            <div class="w3-padding w3-white notranslate">
                                                <table class="table table-striped table-bordered" style="margin-bottom: 10px;">
                                                    <thead>
                                                        <tr>
                                                            <th>اختر</th>
                                                            <th>رقم جواز السفر</th>
                                                            <th>تاريخ الانتهاء</th>
                                                            <th>تاريخ الاضافة</th>
                                                            <th>تاريخ الإجراء</th>
                                                            <th>حالة المستند</th>
                                                            <th>ملاحظات</th>
                                                            <th>المسؤول</th>
                                                            <th>الصورة</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in RevisionPassportUser">
                                                            <td ng-if="item.Document_ID == 2 && item.IsExpired!=true  &&   item.RefusedDate==null &&  item.ApprovedDate ==null  ">
                                                                <input type="radio" name="Passpor_{{item.Document_ID}}" ng-value="{{item.StudentDocumentID}}" checked />

                                                            </td>
                                                            <td ng-if="item.Document_ID ==2 && item.IsExpired==true ||item.RefusedDate!=null || item.ApprovedDate !=null ">
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label>{{item.IdentityNumber}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label>{{item.ExpiryDate}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label>{{item.InsertDate}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label>{{item.ApprovedDate}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label ng-if="item.RefusedDate!=null">رفض</label>
                                                                <label ng-if="item.ApprovedDate!=null">معتمد</label>
                                                                <label ng-if="item.IsTransfer==false">عند الطالب</label>
                                                                <label ng-if="item.IsExpired==true">منتهية الصلاحيه</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label>{{item.RefusedNotes}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <label>{{item.UserName}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2">
                                                                <a class="btn btn-info btn-sm" ng-click="PreviewImage(item.StudentDocumentID)" href="#">عرض الصورة</a>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 2 && item.IsExpired!=true  &&   item.RefusedDate==null &&  item.ApprovedDate ==null  ">
                                                                
                                                                @if (ViewBag.Delete != null)
                                                                {
                                                                    if (ViewBag.Delete)
                                                                    {
                                                                        <button ng-click="removeDocument(item.StudentDocumentID)" class="btn btn-danger">حذف</button>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            @if (ViewBag.Accept != null)
                                            {
                                                if (ViewBag.Accept)
                                                {
                                                    <div ng-if="IsApproved==false && RevisionPassportUser.length > 0 " class="btn btn-success " dx-button="btnSavePassport"></div>

                                                }
                                            }
                                            @if (ViewBag.Refuse != null)
                                            {
                                                if (ViewBag.Refuse)
                                                {
                                                    <div ng-if="IsApproved==false && RevisionPassportUser.length > 0 "  id="btnOpenRefusePassportPopup" class="btn btn-danger " dx-button="btnOpenRefusePassportPopup"></div>

                                                }
                                            }
                                        </div>

                                        <br />

                                        <div class="w3-example">
                                            <h3> الاقامة </h3>
                                            <div class="w3-padding w3-white notranslate">
                                                <table class="table table-striped table-bordered" style="margin-bottom: 10px;">
                                                    <thead>
                                                        <tr>
                                                            <th>اختر</th>
                                                            <th>رقم الاقامة</th>
                                                            <th>تاريخ الانتهاء</th>
                                                            <th>تاريخ الاضافة</th>
                                                            <th>تاريخ الإجراء</th>
                                                            <th>حالة المستند</th>
                                                            <th>ملاحظات</th>
                                                            <th>المسؤول</th>
                                                            <th>الصورة</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in RevisionPassportUser">
                                                            <td ng-if="item.Document_ID == 1 && item.IsExpired!=true  &&   item.RefusedDate==null &&  item.ApprovedDate ==null">
                                                              
                                                                <input type="radio" name="Identity_{{item.Document_ID}}" ng-value="{{item.StudentDocumentID}}" checked />

                                                            <td ng-if="item.Document_ID == 1 && item.IsExpired==true || item.RefusedDate!=null || item.ApprovedDate !=null ">
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label>{{item.IdentityNumber}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label>{{item.ExpiryDate}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label>{{item.InsertDate}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label>{{item.ApprovedDate}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label ng-if="item.RefusedDate!=null">رفض</label>
                                                                <label ng-if="item.ApprovedDate!=null">معتمد</label>
                                                                <label ng-if="item.IsTransfer==false">عند الطالب</label>
                                                                <label ng-if="item.IsExpired==true">منتهية الصلاحيه</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label>{{item.RefusedNotes}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <label>{{item.UserName}}</label>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1">
                                                                <a class="btn btn-info btn-sm" ng-click="PreviewImage(item.StudentDocumentID)" href="#">عرض الصورة</a>
                                                            </td>
                                                            <td ng-if="item.Document_ID == 1 && item.IsExpired!=true  &&   item.RefusedDate==null &&  item.ApprovedDate ==null">
                                                                @if (ViewBag.Delete != null)
                                                                {
                                                                    if (ViewBag.Delete)
                                                                    {
                                                                        <button ng-click="removeDocument(item.StudentDocumentID)" class="btn btn-danger">حذف</button>

                                                                    }
                                                                }
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            @if (ViewBag.Accept != null)
                                            {
                                                if (ViewBag.Accept)
                                                {
                                                    <div ng-if="IsApproved==false && RevisionPassportUser.length > 0" id="btnSaveIdentity" class="btn btn-success" dx-button="btnSaveIdentity"></div>
                                                }

                                            }

                                            @if (ViewBag.Refuse != null)
                                            {
                                                if (ViewBag.Refuse)
                                                {
                                                    <div ng-if="IsApproved==false && RevisionPassportUser.length > 0" id="btnOpenRefuseIdentityPopup" class="btn btn-danger " dx-button="btnOpenRefuseIdentityPopup"></div>

                                                }
                                            }
                                        </div>


                                        <br />

                                        @*<div class="w3-example">
                        <h3> تاشيرة الدخول </h3>
                        <div class="w3-padding w3-white notranslate">
                            <table class="table table-striped table-bordered" style="margin-bottom: 10px;">
                                <thead>
                                    <tr>
                                        <th>اختر</th>
                                        <th>رقم التاشيرة</th>
                                        <th>تاريخ الانتهاء</th>
                                        <th>تاريخ الاضافة</th>
                                        <th>تاريخ الاعتماد</th>
                                        <th>المسؤول</th>
                                        <th>الصورة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in RevisionPassportUser">
                                        <td ng-if="item.Document_ID == 3">
                                            <input type="radio" name="Visa_{{item.Document_ID}}" ng-value="{{item.StudentDocumentID}}" ng-if="item.IsActive != true" />
                                            <input type="radio" name="Visa_{{item.Document_ID}}" ng-value="{{item.StudentDocumentID}}" ng-if="item.IsActive == true" checked />
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <label>{{item.IdentityNumber}}</label>
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <label>{{item.ExpiryDate}}</label>
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <label>{{item.InsertDate}}</label>
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <label>{{item.ApprovedDate}}</label>
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <label>{{item.UserName}}</label>
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <a class="btn btn-info btn-sm" href="{{item.DocumentImage}}" target="_blank">عرض الصورة</a>
                                        </td>
                                        <td ng-if="item.Document_ID == 3">
                                            <button  ng-click="removeDocument(item.StudentDocumentID)"  class="btn btn-danger">حذف</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        @if (ViewBag.Accept != null)
                        {
                            if (ViewBag.Accept)
                            {
                                <div id="btnSaveVisa" class="btn btn-success" dx-button="btnSaveVisa"></div>
                            }
                        }
                    </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="popup" dx-popup="popuResonOfRefuse">
                                <div data-options="dxTemplate: { name:'info' }" dir="rtl">
                                    <div class="col-md-12 col-sm-12">
                                        <div dx-text-area="RefuseNotesTextArea"></div>
                                        <div id="btnRefusePassport" class="btn btn-danger " dx-button="btnRefusePassport"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="popup" dx-popup="popuResonOfRefuseIdentity">
                                <div data-options="dxTemplate: { name:'info' }" dir="rtl">
                                    <div class="col-md-12 col-sm-12">
                                        <div dx-text-area="RefuseNotesTextArea"></div>
                                        <div id="btnRefuseIdentity" class="btn btn-danger " dx-button="btnRefuseIdentity"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dx-popup-content .table-striped a.btn-info {
        color: #fff !important;
    }
.container-fullw {
    margin-top: 15px;
    width: 100%;
    float: right;
    overflow-x: auto;
}
</style>