@model ResultsReport

@{
    ViewBag.Title = "Report Designer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @Html.DevExpress().ReportDesigner(settings =>
        {
            settings.Name = "ReportDesigner";
        }).Bind(new ResultsReport()).GetHtml()
</div>