@using System.Drawing
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "خطاب تسليم المالية شيكات مأموري الصرف";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    int payrollID = int.Parse(Session["PayrollIDParam"].ToString());
}
<style>
    table.dxeRoot_MetropolisBlue {
        width: 100%;
    }
</style>

<script>
    function SandCheckReportExportRequest(s, e) {
        e.customArgs["payrollID"] = @payrollID;
    }
    $(function () {
        $('form').submit();
    });
</script>

<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel bg-white">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class="no-margin"></h4>
                </div>
                <div class="panel-body">
                    @using (Ajax.BeginForm("SandCheckReport", "Reports", new { payrollID = int.Parse(Session["PayrollIDParam"].ToString()) }, new AjaxOptions
                    {
                        UpdateTargetId = "SandCheckReportDesigner"
                    }))
                    {
                        <div class="row">

                            <br />
                            <br />
                            <br />
                            <div id="SandCheckReportDesigner">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dxbButton_MetropolisBlue.btn-success {
        background-color: #26B99A !important;
        border: 1px solid #169F85 !important;
        color: #fff !important
    }

    .dxbButton_MetropolisBlue {
        padding: 5px !important;
        font-family: "JF Flat Regular" !important;
    }
</style>

