@{
    ViewBag.Title = "السندات المصدرة";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
}
<script src="~/Scripts/Advances/AdvanceCashMovementController.js"></script>
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel bg-white">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class="no-margin">السندات التي تم إصدارها</h4>
                </div>
                <div class="panel-body" ng-controller="advanceCashMovement">
                    <div class="col-md-12">
                        <div class="dx-tree-st dx-tree-st22" dx-data-grid="AdvanceCashMovementGrid" dx-item-alias="AdvanceCashMovementItem">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> 

 