@{
    ViewBag.Title = "إضافة طلب سلفة";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";
}
<script type="text/javascript" src="~/Scripts/Advances/StudentAdvanceRequest.js"></script>
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class=" no-margin">إضافة طلب سلفة</h4>
                </div>
                <div class="panel-body">
                    <div ng-controller="StudentAdvanceRequestCtrl">
                        <form ng-submit="onFormSubmit($event)">
                            @Html.AntiForgeryToken()
                            <div class="form-group col-md-6">
                                <label class="control-label col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">نوع السلفة</label>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <div dx-select-box="Advance.AdvanceType" dx-validator="Advance.ValidationRules.AdvanceType"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">المبلغ</label>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <div dx-select-box="Advance.AdvanceValue" dx-validator="Advance.ValidationRules.AdvanceValue"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">تاريخ الطلب</label>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <div dx-date-box="Advance.AdvanceDate" dx-validator="Advance.ValidationRules.AdvanceDate">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label col-lg-12 col-sm-12 col-md-12 col-xs-12 text-right">شهر بداية الخصم</label>
                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                    <div dx-date-box="Advance.AdvanceDueDate" dx-validator="Advance.ValidationRules.AdvanceDueDate">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 modal-footer text-left">
                                <div dx-button="Advance.SaveButton"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>