<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExtreme.AspNet.Data" publicKeyToken="982f5dab1439d0f7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.10.0" newVersion="1.4.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="SchoolAccGam3aEntitiesSQL" connectionString="data source=172.20.9.200\SQLMEDATELTN,53167,53167;initial catalog=SchoolAccMadina;persist security info=True;user id=ESOL;password=E$0La20018;multipleactiveresultsets=True;Connection Timeout=0;" providerName="System.Data.SqlClient" />
    <add name="EsolERPEntities" connectionString="metadata=res://*/Models.RealEstate.csdl|res://*/Models.RealEstate.ssdl|res://*/Models.RealEstate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.9.200\SQLMEDATELTN,53167;initial catalog=Accounting;persist security info=True;user id=ESOL;password=E$0La20018;MultipleActiveResultSets=True;Connection Timeout=0;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HRMadinaEntities" connectionString="metadata=res://*/Models.HR.csdl|res://*/Models.HR.ssdl|res://*/Models.HR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.9.200\SQLMEDATELTN,53167;initial catalog=HRMadina;persist security info=True;user id=ESOL;password=E$0La20018;MultipleActiveResultSets=True;Connection Timeout=0;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="iu_projectEntities" connectionString="metadata=res://*/Models.iuprojectModel.csdl|res://*/Models.iuprojectModel.ssdl|res://*/Models.iuprojectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.9.200\Sqlmedappsdbltn,62091;initial catalog=iu_project;persist security info=True;user id=esollogin;password=$01gdYs83vy;MultipleActiveResultSets=True;Connection Timeout=0;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SchoolAccGam3aEntities" connectionString="metadata=res://*/Models.SchoolAcc.csdl|res://*/Models.SchoolAcc.ssdl|res://*/Models.SchoolAcc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.9.200\SQLMEDATELTN,53167;initial catalog=SchoolAccMadina;persist security info=True;user id=ESOL;password=E$0La20018;multipleactiveresultsets=True;connect timeout=0;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
