
@{
    ViewBag.Title = " تهيئة قرارات المخلفات";
    Layout = "~/Views/Shared/_DevextremeLayout.cshtml";

}
<script src="~/Scripts/ViolationsDecisions/ViolationsDecisionsService.js"></script>
<script src="~/Scripts/ViolationsDecisions/ViolationsDecisionsController.js"></script>

<div class="container-fluid container-fullw text-right">
    <div class="row">
        <div class="col-md-12">
            <div class="panel bg-white">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class="no-margin">تهيئة قرارات المخلفات</h4>
                </div>
                <div class="panel-body">
                    <div id="LoginContent" ng-controller="ViolationsDecisionsCtrl">
                        <form id="form" class="row" ng-submit="SaveViolationsDecisions($event)">

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">اسم القرار</label>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="required-ds" id="txtName" dx-text-box="txtName"
                                         dx-validator="validationRequired"></div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="col-md-12 col-sm-12 col-xs-12 control-label">ملاحظات</label>
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="required-ds" id="txtNotes" dx-text-area="txtNotes"></div>
                                </div>
                            </div>
                            @if (ViewBag.Create != null)
                            {
                                if (ViewBag.Create)
                                {
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                        <div class="col-lg-12 col-sm-12 col-xs-12 ">
                                            <div id="btnSave" dx-button="btnSave"></div>
                                        </div>
                                    </div>
                                }
                            }
                        </form>

                        <!--List-->
                        <div class="row">
                            <div id="List" class="col-lg-12 col-sm-12 col-xs-12">
                                <div class="dx-viewport dx-tree-st">
                                    <div class="demo-container">
                                        <div id="gridViolationsDecisions" dx-data-grid="gridViolationsDecisions"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .control-label {
        line-height: 35px;
    }
</style>
