@*@model List<StudentProfile.DAL.Models.TravelOrders>*@
@using System.Web.UI.WebControls;
@{
    int? lvl = 0;
    if (ViewData["Level"] != null)
    {
        lvl = (int)ViewData["Level"];
    }
}
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "TravelOrdersManager";
    settings.KeyFieldName = "ID";
    settings.Styles.Table.CssClass = "dx-table-ds";
    // settings.Theme= r.
    settings.Width = Unit.Percentage(100);
    settings.CallbackRouteValues = new { Action = "_GetTravelOrderManager", Controller = "TravelOrders" };
    settings.Settings.ShowFilterRow = true;
    settings.SettingsSearchPanel.Visible = true;

    settings.Settings.ShowHeaderFilterButton = true;

    settings.SettingsPager.Position = PagerPosition.Bottom;
    settings.SettingsPager.FirstPageButton.Visible = true;
    settings.SettingsPager.LastPageButton.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };
    settings.SettingsExport.EnableClientSideExportAPI = true;
    settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.WYSIWYG;
    bool visible = (int)ViewData["Level"] < 2 ? false : true;

    settings.Toolbars.Add(t =>
    {
        t.EnableAdaptivity = true;

        t.Items.Add(GridViewToolbarCommand.ExportToPdf);
        t.Items.Add(GridViewToolbarCommand.ExportToXls);
        t.Items.Add(GridViewToolbarCommand.ExportToXlsx);
        t.Items.Add(GridViewToolbarCommand.ExportToDocx);
        t.Items.Add(GridViewToolbarCommand.ExportToRtf);
        t.Items.Add(GridViewToolbarCommand.ExportToCsv);
    });

    //settings.Columns.Add(column =>
    //{
    //    column.Caption = "رقم الاركاب";
    //    //column.Width = Unit.Percentage(15);
    //    column.FieldName = "TripNumber";
    //});
    //settings.Columns.Add(column =>
    //{
    //    column.Caption = "خط السير";
    //    //column.Width = Unit.Percentage(15);
    //    column.FieldName = "TripPath";

    //});
    //settings.Columns.Add(column =>
    //{
    //    column.Caption = "عدد الطلاب";
    //    // column.Width = System.Web.UI.WebControls.Unit.Percentage(15);
    //    column.SetDataItemTemplateContent(c =>
    //    {
    //        var selectedData = Model.Where(x => x.ID == int.Parse(c.KeyValue.ToString())).SingleOrDefault();

    //        ViewContext.Writer.Write("<span>" + selectedData.StudentsTravelOrder.GroupBy(z => z.StudentID).Count() + "</span>");
    //    });
    //});


    settings.Columns.Add(column =>
    {
        column.Caption = "رقم الاركاب";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "TripNumber";
    });
    settings.Columns.Add(column =>
    {
        column.Caption = "خط السير";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "TripPath";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "نوع الرحلة";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "TravelType";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "تاريخ الترحيل";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "TravelOrderDate";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "نوع امر الاركاب";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "TripType";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "الجنسية";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "Nationality";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "عدد الطلاب";
        column.FieldName = "StudentsCount";
        //column.SetDataItemTemplateContent(c =>
        //{
        //    var count = Model.FirstOrDefault(x => x.ID == (int)c.KeyValue).StudentsTravelOrder.Count();
        //    ViewContext.Writer.Write($"<div>{count}</div>");
        //});
    });
    settings.Columns.Add(column =>
    {
        column.Caption = "رقم الارتباط";
        //column.Width = Unit.Percentage(15);
        column.FieldName = "AgentRefNumber";
    });
    settings.SettingsPager.PageSize = 20;
    settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.Disabled;
    settings.EnableCallbackAnimation = false;

    if (lvl == 1)
    {
        settings.Columns.Add(column =>
        {
            column.Caption = "التفاصيل";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(10);
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write("<input type='button' class='btn btn-success btn-sm' value='تفاصيل' onclick= 'GetTravelOrderDetails(" + c.KeyValue + ")'/>");
            });
        });
    }

    if (lvl == 1 || lvl == 4) {
        settings.Columns.Add(column =>
        {
            column.Caption = "#";
            column.Width = System.Web.UI.WebControls.Unit.Percentage(15);
            column.SetDataItemTemplateContent(c =>
            {

                ViewContext.Writer.Write("<input type='hidden' value="+c.KeyValue+" id='ID' name='ID'/>");
                ViewContext.Writer.Write("<a class='btn btn-primary btn-sm' style='color:#fff !important;margin-top: 5px;' href=" + Url.Action("TravelOrderPrint","TravelOrders", new { travelOrderID =c.KeyValue}) + " target='_blank'> <i class='fa fa-print'></i> طباعة </a>");
                ViewContext.Writer.Write("<a class='btn btn-primary btn-sm' style='color:#fff !important;margin-top: 5px;' href=" + Url.Action("_TravelOrderReport", "TravelOrders", new { TravelOrderID = c.KeyValue }) + " target='_blank'> <i class='fa fa-list'></i> تفاصيل </a>");
            });
        });
    }




    settings.SettingsBehavior.AllowSelectByRowClick = false;
    settings.CommandColumn.Visible = true;
    settings.CommandColumn.Width = Unit.Percentage(5);
    settings.CommandColumn.ShowSelectCheckbox = lvl == 3 ? true : false;
    settings.CommandColumn.SelectAllCheckboxMode = GridViewSelectAllCheckBoxMode.AllPages;
    settings.SettingsDetail.AllowOnlyOneMasterRowExpanded = false;
    settings.SettingsDetail.ShowDetailRow = true;
    settings.ClientSideEvents.SelectionChanged = "SelectionChanged";
    settings.ClientSideEvents.BeginCallback = "SetLevel";
    settings.SetDetailRowTemplateContent(c =>
    {

        Html.RenderAction("_GroupedTravelOrdersDetails", new { TravelOrderID = c.KeyValue, isTravelAgent = false });
    });



    settings.SettingsPager.PageSize = 20;

    settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.Disabled;

    settings.EnableCallbackAnimation = false;
    settings.Toolbars.Add(t =>
    {
        t.EnableAdaptivity = false;
        t.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                ViewContext.Writer.Write("<input type='hidden' value="+lvl+" name='LevelCount' id='LevelCount'/>");
                Html.DevExpress().Button(s =>
                {
                    s.Name = "M0";
                    s.RightToLeft = DefaultBoolean.True;

                    s.ControlStyle.CssClass = lvl == 0 ? "ActiveTT" : "";
                    s.Text = "رغبات سفر الطلاب ";
                    s.ClientSideEvents.Click = "function(s,e){ShowStudentByAdvertisement();}";
                }).Render();
                Html.DevExpress().Button(
                    s =>
                    {
                        s.Name = "M1";
                        s.RightToLeft = DefaultBoolean.True;
                        s.ControlStyle.CssClass = lvl == 1 ? "ActiveTT" : "";
                        s.Text = "المصدرة للطيار";
                        s.ClientSideEvents.Click = "function(s,e){TabtoLevel(1);}";
                    }).Render();
                Html.DevExpress().Button(
                    s =>
                    {
                        s.Name = "M2";
                        s.RightToLeft = DefaultBoolean.True;
                        s.ControlStyle.CssClass = lvl == 2 ? "ActiveTT" : "";
                        s.Text = "المصدرة للاعتماد المالي";
                        s.ClientSideEvents.Click = "function(s,e){TabtoLevel(2);}";
                    }).Render();
                Html.DevExpress().Button(
                   s =>
                   {
                       s.Name = "M3";
                       s.RightToLeft = DefaultBoolean.True;
                       s.Text = "المصدرة للاعتماد الاداري";
                       s.ControlStyle.CssClass = lvl == 3 ? "ActiveTT" : "";
                       s.ClientSideEvents.Click = "function(s,e){TabtoLevel(3);}";
                   }).Render();
                Html.DevExpress().Button(
                  s =>
                  {
                      s.Name = "M4";
                      s.RightToLeft = DefaultBoolean.True;
                      s.Text = "المصدرة الي التذاكر";
                      s.ControlStyle.CssClass = lvl == 4? "ActiveTT" : "";
                      s.ClientSideEvents.Click = "function(s,e){TabtoLevel(4);}";
                  }).Render();
                Html.DevExpress().Button(
              s =>
              {
                  s.Name = "M5";
                  s.RightToLeft = DefaultBoolean.True;
                  s.Text = "اوامر الاركاب المعتمدة";
                  s.ControlStyle.CssClass = lvl == 5 ? "ActiveTT" : "";
                  s.ClientSideEvents.Click = "function(s,e){TabtoLevel(5);}";
              }).Render();

                Html.DevExpress().Button(
                s =>
                {
                    s.Name = "E";
                    s.RightToLeft = DefaultBoolean.False;
                    s.Text = " التوجيه لاصدار التذاكر";
                    s.ControlStyle.CssClass = "pull-left";
                    s.ClientVisible = lvl == 3 ? true : false;
                    s.ClientSideEvents.Click = "function(s,e){FinishProcess("+lvl+");}";
                }).Render();
            });
        });

    });
}).Bind(Model).GetHtml()


