
@{
    ViewBag.Title = "اعتماد أوامر الإركاب";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/signalr/hubs"></script>
<script>
    //Actions
    var selectedRows = [];
    var givenPrice = [];
    function SelectionChanged(s, e) {
        
        var id = s.GetRowKey(e.visibleIndex);
     //   if (e.isSelected) {
     //var notify = { Message: '', Type: '', status: 0 };
     //       $.ajax({
     //           url: '/TravelOrders/CheckIfHasAmount',
     //           data: { travelOrderID: id, levelOrder: 3 },
     //           success: function (data) {
     //               if (data != "0")
     //                   {
     //                   s.GetSelectedFieldValues('ID', SelectionCallback);
     //               s.UnselectRowsByKey(id);
     //               DevExpress.ui.notify({ message: "من فضلك اعتمد اسعار التذاكر أولا", type: 'error', displayTime: 3000, closeOnClick: true });
     //               }
     //           },
     //           error: function (data) {
     //               s.UnselectRowsByKey(id);
     //               DevExpress.ui.notify({ message: "حدث خطأ برجاء إعتماد أسعار التذاكر", type: 'error', displayTime: 3000, closeOnClick: true });
     //           }
     //       })
     //   }
        s.GetSelectedFieldValues('ID', SelectionCallback);
    }
    function SelectionCallback(values) {

        selectedRows = [];
        for (var i = 0; i < values.length; i++) {
            var Id = values[i];
            selectedRows.push(Id);

        }
    }
    function GetTravelOrderDetails(id) {
        debugger;
        $.ajax({
            url: '/TravelOrders/_GroupedTravelOrdersDetails',
            data: { TravelOrderID: id, isTravelAgent: false },
            success: function (data) {
                debugger;                
                $('#details').html(data);
                pcTravelOrderDetails.Show();
            },
            error: function (data) {
            }
        })
    }

    function TravelOrdersTicketDetailsOnBeginCallback() {
        alert("ddd");
    }

    function CancelTravelOrder(key) {
        
        var result = DevExpress.ui.dialog.confirm({
            rtlEnabled:true,
            message: "<i>هل أنت متأكد من حذف أمر الاركاب؟</i>",
            title: "تأكيد",
            buttons: [
                {
                text: "نعم..استمرار",
                onClick: function (e) {
                    
                    var notify = { Message: '', Type: '', status: 0 };
                    $.ajax({
                        url: '/TravelOrders/CancelTravelOrder',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: {id:key},
                        success: function (data) {
                            
                            var response = data;
                            notify.Message = response['Message'];
                            notify.Type = response['Type'];
                            notify.status = response['status'];

                            DevExpress.ui.notify({ message: notify.Message, type: notify.Type, displayTime: 3000, closeOnClick: true });
                            selectedRows = [];
                            TravelOrdersFinancial.PerformCallback();
                            return true;
                        },
                        error: function (data) {
                            var response = data;
                            notify.Message = response['Message'];
                            notify.Type = response['Type'];
                            notify.status = response['status'];
                            DevExpress.ui.notify({ message: notify.Message, type: notify.Type, displayTime: 3000, closeOnClick: true });
                            return false;
                        }
                    })
                    
                }
            },
            {
                text: "تراجع",
                ////onClick: function (e) {
                ////    
                ////    return { buttonText: e.component.option("text") }
                ////}
            }]
        });
        //result.done(function (dialogResult) {
        //    alert(dialogResult ? "Confirmed" : "Canceled");
        //});
    }
    function ExportToManager() {
        
        var dataToSend = JSON.stringify(selectedRows);
        var notify = { Message: '', Type: '', status: 0 };
        $.ajax({
            url: '/TravelOrders/ExportToNextLevel',
            contentType: 'application/json; charset=utf-8',
            type: 'post',
            dataType: 'json',
            data: dataToSend,
            success: function (data) {
                
                var response = data;
                notify.Message = response['Message'];
                notify.Type = response['Type'];
                notify.status = response['status'];

                DevExpress.ui.notify({ message: notify.Message, type: notify.Type, displayTime: 3000, closeOnClick: true });
                selectedRows = [];
                TravelOrdersFinancial.PerformCallback();
            },
            error: function (data) {
                var response = data;
                notify.Message = response['Message'];
                notify.Type = response['Type'];
                notify.status = response['status'];
                DevExpress.ui.notify({ message: notify.Message, type: notify.Type, displayTime: 3000, closeOnClick: true });
            }
        })
    }
    function SaveTripFinancial() {
        
        var amountarr = [];
        var isValid = true;
        var keysarr = JSON.parse(TravelOrdersDetails.GetKeyValues());
        keysarr.forEach(function (value, indx) {
            
            var priceControl = ASPxClientControl.GetControlCollection().GetByName('ApprovedAmount_' + value);
            //if (!priceControl.GetIsValid()) {
            //    isValid = false;
            //}
            var price = priceControl.GetValue();
            amountarr.push({ Id: Number(value), Amount: parseFloat(price) });
        });
        if (isValid) {
            var dataToSend = JSON.stringify({ 'details': amountarr });
            var notify = { Message: '', Type: '', status: 0 };
            $.ajax({
                url: '/TravelOrders/SaveTripFinance',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: dataToSend,
                success: function (data) {
                    var response = data;
                    notify.Message = response['Message'];
                    notify.Type = response['Type'];
                    notify.status = response['status'];
                    
                    DevExpress.ui.notify({ message: notify.Message, type: notify.Type, displayTime: 3000, closeOnClick: true });
                },
                error: function (data) {
                    var response = data;
                    notify.Message = response['Message'];
                    notify.Type = response['Type'];
                    notify.status = response['status'];

                    DevExpress.ui.notify({ message: notify.Message, type: notify.Type, displayTime: 3000, closeOnClick: true });
                }
            })
        }
        else {
            DevExpress.ui.notify({ message: "برجاء التأكد من ادخال قيمة اكبر من الصفر في جميع اسعار التذاكر", type: 'error', displayTime: 3000, closeOnClick: true });
        }
    }
    //End of Actions
    //SignalR
    $(function () {
        // Reference the auto-generated proxy for the hub.  
        var chat = $.connection.musaferHub;
        // Create a function that the hub can call back to refresh grid.
        chat.client.refreshFinancialGrid = function () {
            TravelOrdersFinancial.PerformCallback();
        };
       
        $.connection.hub.start().done(function () {
            TravelOrdersFinancial.PerformCallback();
        });
    });
    //End of SignalR
</script>
<div class="container-fluid container-fullw">
    <div class="row">
        <div class="col-md-12" id="pageDiv">
            <div class="panel bg-white">
                <div class="breadcrumb-wrapper text-right">
                    <h4 class="no-margin">الاعتماد المالي لأوامر الإركاب</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        Html.RenderAction("_GetTravelOrdersFinancial");
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@Html.DevExpress().PopupControl(
settings =>
{
    settings.Name = "pcTravelOrderDetails";
    settings.Width = 1200;
    settings.AllowDragging = true;
    settings.CloseAction = CloseAction.CloseButton;
    settings.RightToLeft = DefaultBoolean.True;
    settings.CloseOnEscape = true;
    settings.PopupAnimationType = AnimationType.None;
    settings.HeaderText = "تفاصيل أمر الإركاب";
    settings.Modal = true;
    settings.AutoUpdatePosition = true;
    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
    settings.SetContent(() =>
    {
        //using (Ajax.BeginForm("SaveTripPricing", "TravelOrders", FormMethod.Post, new AjaxOptions { UpdateTargetId = "StBasicData" }))

        //{
        ViewContext.Writer.Write("<div id='details'></div>");
        if (ViewData["Hidden"] != null && (bool)ViewData["Hidden"])
            ViewContext.Writer.Write("<input type='submit' class='btn btn-success btn-sm' value='حفظ' onclick='SaveTripFinancial()'/>");

        //}
    });

    settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
}).GetHtml()
<style>
    .ActiveTT {
        background-color: #607D8B !important;
        color: #fff;
        border-color: #607d8b !important;
    }
    .dxm-rtl .dxm-horizontal ul.dx {
        width: 100%;
        text-align: left;
    }

        .dxm-rtl .dxm-horizontal ul.dx.dxm-image-r.dxm-noImages {
            text-align: center;
        }

    ul.dx.dxm-image-r.dxm-noImages li {
        display: inline-block
    }

    .dxm-horizontal.dxm-autoWidth > ul > li, .dxm-horizontal.dxm-noWrap > ul > li {
        display: inline-block;
    }

    .dxmLite_MetropolisBlue .dxm-horizontal .dxm-image-r .dxm-hasText .dxm-image {
        margin-right: 5px;
        float: left;
    }

        ul.dx.dxm-image-r.dxm-noImages li .dxbButton_MetropolisBlue {
            line-height: 35px;
            font-family: "JF Flat Regular";
            margin: 15px 3px;
            border: 1px solid #03a9f4;
            border-radius: 5px;
            background: #03a9f4;
            color: #fff;
            font-size: 18px;
        }
        ul.dx.dxm-image-r.dxm-noImages li .dxbButton_MetropolisBlue:hover { 
            background: #03a9f4;
            color: #fff; 
        }

        ul.dx.dxm-image-r.dxm-noImages li .dxbButton_MetropolisBlue div.dxb {
            padding: 11px 8px 12px;
        }

    .dxgvControl_MetropolisBlue, .dxgvDisabled_MetropolisBlue {
        border: 0 !important;
    }



    .dxgvTable_MetropolisBlue tr td {
        font-family: "JF Flat Regular";
        font-size: 12px;
    }

    .dx-table-ds-in > tbody > tr:first-child > td {
        background: #ff8159 !important;
        color: #fff !important;
    }

    .dx-table-ds-in {
        margin: 10px 0 10px 0;
    } 
</style>
